Makefile
libtool
config.h
config.log
config.status
stamp-h1
#
.deps
.libs
*.o
*.la
*.lo
*.swp
#
scripts/build
#
bad-gnustack.s
fix-gnustack
dummy
paxctl-ng
bad-gnustack
daemon
revdepbin
#
scripts/build
misc/__pycache__
